.l-heading {
	font-size: 2.75rem;
	line-height: 1;
}

.lead {
	font-size: 1rem;
}

#what .items {
	display: block;
	padding: 1rem;
}

#what .items .item {
	display: flex;
	text-align: left;
}

#what .items .fas {
	margin-right: 1.3rem;
	align-self: center;
	margin-bottom: 0;
}

/* Smartphones */
@media screen and (max-width: 576px) {
	#navbar {
		flex-direction: column;
		align-items: center;
	}

	#navbar .logo {
		margin-bottom: 0.5rem;
		text-align: center;
	}

	#navbar ul {
		padding: 0.5rem;
	}

	#who {
		display: block;
	}

	#who .who-img {
		display: none;
	}

	#clients .item:last-child {
		display: none;
	}

	#contacts {
		flex-wrap: wrap;
	}

	#contacts .map-box {
		height: 400px;
		flex-basis: 100%;
		flex-grow: initial;
	}

	#clients .item img {
		width: 80%;
	}
}