@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

body {
	margin: 0;
	padding: 0;
	position: relative;
	line-height: 1.6;
	overflow-x: hidden;
	font-family: "Roboto", sans-serif;
}

a {
	text-decoration: none;
	color: #fff;
}

p {
	margin: 0.75rem 0;
}

.text-primary {
	color: #93cb52;
}

.l-heading {
	font-size: 3rem;
	line-height: 1.1;
}

.lead {
	font-size: 1.35rem;
	line-height: 1.4;
}

.btn {
	text-align: center;
	display: inline-block;
	padding: 1rem 1.5rem;
	font-size: 1.25rem;
	background-color: #333;
	border-radius: 4px;
	border: none;
}

.btn-primary {
	background-color: #93cb52;
	color: #fff;
}

.container {
	max-width: 1170px;
	margin: auto;
}

#navbar {
	padding: 1rem;
	position: sticky;
	top: 0;
	display: flex;
	align-content: center;
	justify-content: space-between;
	background-color: #333;
	z-index: 1;
}

#navbar ul {
	display: flex;
	align-items: center;
	list-style: none;
}

#navbar ul li a {
	margin: 0 0.25rem;
	padding: 0.75rem;
	transition: all .3s ease;
	border-radius: 4px;
}

#navbar ul li a:hover {
	background-color: #93cb52;
}

#showcase {
	height: 100vh;
	background: #333 url("../img/showcase.jpg") no-repeat center center/cover;
	color: #fff;
	position: relative;
}

#showcase .showcase-content {
	display: flex;
	flex-direction: column;
	align-content: center;
	text-align: center;
	justify-content: center;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.45);
}

.showcase-content .btn {
	align-self: center;
	transition: all 0.25s ease;
}

.showcase-content .btn:hover {
	background-color: #72be56;
}

.showcase-content p {
	margin: 1rem 0;
	padding: 1rem;
}