@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Core styles & util classes */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

body {
	margin: 0;
	padding: 0;
	position: relative;
	line-height: 1.6;
	height: 100%;
	overflow-x: hidden;
	font-family: "Roboto", sans-serif;
}

a {
	text-decoration: none;
	color: #fff;
}

p {
	margin: 0.75rem 0;
}

ul.list {
	list-style: none;
	margin: 0;
	padding: 0.5rem 0;
}

ul.list li {
	border-bottom: 1px dotted #444;
	padding: 0.5rem 0;
}

.text-primary {
	color: #93cb52;
}

.text-center {
	text-align: center;
}

.l-heading {
	font-size: 4rem;
	margin-bottom: 0.75rem;
	line-height: 1.1;
}

.m-heading {
	font-size: 2rem;
	margin-bottom: 0.75rem;
	line-height: 1.2;
}

.lead {
	font-size: 1.3rem;
	line-height: 1.4;
}

.btn {
	text-align: center;
	display: inline-block;
	padding: 0.5rem 1.5rem;
	font-size: 1.125rem;
	background-color: #333;
	border-radius: 4px;
	border: none;
	cursor: pointer;
}

.btn-dark {
	color: #fff;
	background-color: #333;
}

.btn-primary {
	background-color: #93cb52;
	color: #fff;
}

.py-1 {
	padding: 1.5rem 0;
}

.py-2 {
	padding: 2rem 0;
}

.py-3 {
	padding: 3rem 0;
}

.p-1 {
	padding: 1.5rem;
}

.p-2 {
	padding: 2rem;
}

.p-3 {
	padding: 3rem;
}

.bg-light {
	background-color: #fcfcfc;
	color: #333;
}

.bg-dark {
	background-color: #333;
	color: #fff;
}

.bg-primary {
	background-color: #93cb52;
	color: #fff;
}

.container {
	max-width: 1170px;
	margin: auto;
	padding: 0 1.5rem;
	overflow: hidden;
}

/* Navbar */

#navbar {
	padding: 1rem;
	position: sticky;
	top: 0;
	display: flex;
	align-content: center;
	justify-content: space-between;
	background-color: #333;
	z-index: 1;
}

.animate-opacity {
	transition: opacity 0.3s ease;
	opacity: 0.9;
}

#navbar ul {
	display: flex;
	align-items: center;
	list-style: none;
}

#navbar ul li a {
	margin: 0 0.25rem;
	padding: 0.75rem;
	transition: all .3s ease;
	border-radius: 4px;
}

#navbar ul li a:hover {
	background-color: #93cb52;
}

/* HEADER */

#showcase {
	height: 100vh;
	background: #333 url("../img/showcase.jpg") no-repeat center center/cover;
	color: #fff;
	position: relative;
}

#showcase .showcase-content {
	display: flex;
	flex-direction: column;
	align-content: center;
	text-align: center;
	justify-content: center;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.45);
}

.showcase-content .btn {
	align-self: center;
	transition: all 0.25s ease;
}

.showcase-content .btn:hover {
	background-color: #72be56;
}

.showcase-content p {
	margin: 1rem 0;
	padding: 1rem;
}

/* What We Do Section */
#what .items {
	display: flex;
	justify-content: center;
	align-items: center;
}

#what .items .item {
	flex: 1;
	text-align: center;
	padding: 1rem;
}

#what .item .fas {
	margin-bottom: 1rem;
	padding: 1rem;
	background-color: #93cb52;
	border-radius: 50%;
}

/* Who We Are Section */

#who {
	display: flex;
}

#who div {
	flex: 1;
	flex-basis: 50%;
}

#who .who-img {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Client Section */
#clients .items {
	display: flex;
}

#clients .item img {
	display: block;
	margin: auto;
	width: 60%;
}

/* Contacts Section */

#contacts {
	display: flex;
	position: relative;
}

#contacts .contact-form,
#contacts .map-box {
	flex: 1;
	flex-basis: 50%;
}

#contacts .contact-form .form-group {
	margin: 0.75rem 0;
}

#contacts .contact-form label {
	display: block;
}

#contacts .contact-form input,
#contacts .contact-form textarea {
	width: 100%;
	padding: 0.5rem;
}

#main-footer p {
	padding: 0;
	margin: 0;
}