@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

body {
	margin: 0;
	padding: 0;
	position: relative;
	line-height: 1.6;
	overflow-x: hidden;
	font-family: "Roboto", sans-serif;
}

a {
	text-decoration: none;
	color: #fff;
}

p {
	margin: 0.75rem 0;
}

.text-primary {
	color: #93cb52;
}

.container {
	max-width: 1170px;
	margin: auto;
}

#navbar {
	padding: 1rem;
	position: sticky;
	top: 0;
	display: flex;
	align-content: center;
	justify-content: space-between;
	background-color: #333;
	z-index: 1;
}

#navbar ul {
	display: flex;
	align-items: center;
	list-style: none;
}

#navbar ul li a {
	margin: 0 0.25rem;
	padding: 0.75rem;
	transition: all .4s ease;
	border-radius: 4px;
}

#navbar ul li a:hover {
	background-color: #93cb52;
}